<!-- views/error/500.ejs -->

<html>
<head>
    <title><%= pageTitle %></title>
    <style>
        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            background-color: #ecf0f1;
            color: #e74c3c;
            text-align: center;
        }

        h1 {
            margin-top: 50px;
            font-size: 48px;
        }

        p {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1><%= pageTitle %></h1>
    <p>Internal Server Error</p>
</body>
</html>
